<p style="color: green"><%= notice %></p>

<h1><%= @hostel_owner.name %></h1>
<h4><%= @hostel_owner.email %></h4>
<h4><%= @hostel_owner.phone %></h4>
<div>
  <%= link_to "Edit my profiles", edit_hostel_owner_path(@hostel_owner) %>

</div>
<br>
