<p style="color: green"><%= notice %></p>

<% unless current_user.role == "hostel_seeker" %>
  <div>
    <%= link_to "Edit this hostel", edit_hostel_path(@hostel) %> |


    <%= link_to "See added rooms", hostel_rooms_path(@hostel) %> |
    <%= link_to "Add rooms", new_hostel_room_path(@hostel) %> |
    <%= link_to "Back to my hostels", hostels_path %>


    <%= button_to "Destroy this hostel", @hostel, method: :delete %>

  </div>
<%else%>
  <%=link_to "Back to home page", hostel_seeker_index_path %> |
  <%= link_to "See rooms of this hostel", hostel_rooms_path(@hostel) %>
<%end %>

<h1><%= @hostel.name %></h1>
<h4>Location: <%= @hostel.location %></h4>
<h4>Rooms Available: <%= @hostel.rooms_available %></h4>
<% if @hostel.images.attached? %>
  <% @hostel.images.each do |image| %>
    <div>
      <%=image_tag image %>
    </div>
  <%end %>
<%end %>



